<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome!</title>
</head>
<body>
	<h1>Welcome, delightful adoptee! How can we help you find your future pet?</h1>
	<br>
	<h2><a href="/view-animal-list-adoptee">Let me see all the animals!</a></h2>
	<h2><a href="/animal-search">Let me find an animal through search!</a></h2>
	<h2><a href="/about">Contact Us!</a></h2>
	<br>
	<h2>Would you like to create an application to adopt?<a href="create-adoptee-application">Click Here!</a></h2>
	<br />
</body>
<footer>
	<h3><a href="/index">Return to Home Page</a></h3>
</footer>
</html>