<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome!</title>
</head>
<body>
	<h1>Welcome, delightful adoptee! How can we help you find your future pet?</h1>
	<br>
	<h2><a href="listbyallanimals">Let me see all the animals!</a></h2>
	<h2><a href="listbyarls">Let me see all the arls listing!</a></h2>
	<h2><a href="animalsearch">Let me find an animal through search!</a></h2>
	<br>
</body>
<footer>
	<a href="index">Return to user portal</a>
	<a href="about">How to get ahold of us</a>
</footer>
</html>