<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome!</title>
</head>
<body>
	<h1>Welcome! We are Happy you are here to help get pets to homes!</h1>
	<br>
	<h2><b><a href="/enter-an-animal">Enter an animal into the site for adoption</a></b></h2>
	<h2><b><a href="/view-animal-list">View list of animals for adoption</a></b></h2>
	<h2><b><a href="/view-adoptee-application-list"></a>View an application for animal(s) avalible through your ARL</b></h2>
	<br>
</body>
<footer>
	<h3><a href="/index">Return to Home Page</a></h3>
</footer>
</html>