<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to the Mid Iowa Animal For Adoption Program</title>
</head>
<body>
	<h1>Welcome to the Mid Iowa Animal For Adoption Program</h1>
	<h2>Are You An Adoptee Looking To Adopt, Or An ARL Putting Animals Up For Adoption?</h2>
	<a href = "/adoptee-homepage">Adoptee; Find An Animal To Adopt</a><br>
	<a href = "/arl-homepage">ARL; Put An Animal Up For Adoption</a><br>
	<b></b>
	<b></b>
	<a href = "/about">Are you a representitive of an ARL or equivalent looking to use our site? Click here to contact us</a>
</body>
</html>