<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="author" content="Trevor Parrish">
<style>

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>
<title>View All Animals</title>
</head>
  <body>
    <h2>List of Animals for Adoption</h2>
    <form>
      <table>
      	<tr>
      	  <th>Name</th>
      	  <th>Animals Type</th>
      	  <th>Animal Breed</th>
      	  <th>Approximate Age</th>
      	  <th>Animal Weight</th>
      	  <th>Animal Description</th>
      	</tr>
        <tr th:each="currentAnimal : ${animals}" >
 		  <td th:text="${currentAnimal.animalName}" />
 		  <td th:text="${currentAnimal.animalType}" />
 		  <td th:text="${currentAnimal.breed}" />
 		  <td th:text="${currentAnimal.approxAge}" />
 		  <td th:text="${currentAnimal.weight}" />
 		  <td th:text="${currentAnimal.description}" />
		</tr>
	  </table>
    </form>
  </body>
<footer>
	<h3><a href="/index">Return to Home Page</a></h3>
</footer>
</html>